body {
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

input.focus\:ring-cyan-500:focus,
select.focus\:ring-cyan-500:focus,
textarea.focus\:ring-cyan-500:focus {
  --tw-ring-opacity: 0;
  /* Remove the ring opacity */
  --tw-ring-color: transparent;
  /* Set the ring color to transparent */
  border-color: #d0d5dd;
}

button.focus\:ring-gray-200:focus {
  --tw-ring-opacity: 0;
  /* Remove the ring opacity */
}
a {
  cursor: pointer;
}
.login {
  position: relative;
  /* Ensure the form is positioned relative to its container */
  width: 100%;
  /* Adjust width to fit the container */
  height: 100vh;
  /* Adjust height as needed */
  display: flex;
  align-items: center;
  justify-content: center;
}

.login::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  clip-path: polygon(0% 0%, 100% 0%, 100% 65.8%, 0% 28.3%);
  background: linear-gradient(58.5deg, #071338 13.6%, #143155 49%, #225477 84.39%);
}

.otpinput input {
  text-align: center;
}

.login input:focus {
  border-color: #3d75ff;
  box-shadow: none;
}

.btn-add:not(:disabled):hover {
  color: #fff;
  background-color: #3d75ff;
}

.btn-copy:not(:disabled):hover {
  color: #3d75ff;
}

button.cancel-btn:not(:disabled):hover {
  background-color: rgb(243 244 246);
  border: 1px solid rgb(229 231 235);
  color: #667085;
}

.profile {
  order: 2;
}

.accordian-head {
  display: flex;
  justify-content: space-between;
}

.accordian-head h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 38px);
}

.progess-bar {
  max-width: 178px;
  width: 100%;
  text-align: center;
}

.timesheet-card h2,
.timesheet-card ul li {
  color: #101828;
  line-height: 150%;
}

.toastify > div {
  right: 3%;
}

.toastify svg {
  pointer-events: none;
}

.hamburger {
  display: none;
}

.tomorrow-sheet h2 {
  color: #2e90fa;
}

.update-msg {
  color: #667085;
}

.dropdown-trigger {
  border: 1px solid rgb(229 231 235);
  border-radius: 50%;
}

.main-menu {
  gap: 25px;
}

@media (min-width: 767px) {
  .container {
    max-width: 95% !important;
  }
}

@media (max-width: 1023px) {
  .container {
    max-width: 95% !important;
  }

  .avtar-profile {
    display: none;
  }

  .main-menu {
    position: fixed;
    right: -100%;
    top: 73px;
    transition: all 0.5s ease;
    justify-content: flex-start;
    display: flex;
    background-color: #143155;
    height: 100vh;
    text-align: center;
    padding-top: 20px;
    flex-direction: column;
    width: 100%;
    z-index: 99;
    gap: 0;
  }

  .menuVisible .main-menu {
    right: 0;
    transition: all 0.5s ease;
    gap: 0;
  }

  .main-menu.hidden {
    right: -100%;
    transition: all 0.5s;
    display: flex;
    z-index: 99;
  }

  .main-menu li {
    border-bottom: 1px solid #225477;
  }

  .main-menu li:last-child {
    border-bottom: 0;
  }

  .main-menu a {
    color: white;
    background-color: #143155;
    padding: 10px;
    border-bottom: 1px solid #225477;
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
  }
  .main-menu a:hover {
    color: rgba(255, 255, 255, 0.7);
    background-color: #143155;
    border-bottom: 1px solid #225477;
  }
  .main-menu a[aria-current='page'] {
    border-bottom: 1px solid #225477;
    color: rgba(255, 255, 255, 0.7);
    font-weight: bold;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
}

@media (max-width: 475px) {
  .accordian-head {
    align-items: flex-start !important;
    flex-direction: column;
  }
}
@media (max-width: 375px) {
  .accordian-head h2 {
    align-items: flex-start;
    flex-direction: column;
  }
}
