/* src/index.css or src/main.css */
@import 'tailwindcss';

@theme {
  --color-regal-gray: rgba(107, 114, 128, 1);
  --color-text-color: rgba(17, 25, 40, 1);
  --color-primary: #3d75ff;
  --color-lightgray: #101828;
  --font-inter: Inter, sans-serif;
}

@layer base {
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../src/assets/font/Inter-Regular.eot');
    src:
      url('../src/assets/font/Inter-Regular.eot') format('embedded-opentype'),
      url('../src/assets/font/Inter-Regular.woff2') format('woff2'),
      url('../src/assets/font/Inter-Regular.woff') format('woff'),
      url('../src/assets/font/Inter-Regular.ttf') format('truetype'),
      url('../src/assets/font/Inter-Regular.svg#Inter-Regular') format('svg');
  }
}
